/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-700.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Montserrat";
}

::placeholder {
  font-weight: bold;
}

.produit-banner {
  background-color: #F9F9F9;
}
@media (max-width: 1200px) {
  .produit-banner {
    background-size: 100%;
  }
}
.produit-banner .image-acceuil {
  width: 595px;
  height: 403px;
}
@media (max-width: 992px) {
  .produit-banner .image-acceuil {
    width: 450px;
  }
}
@media (max-width: 768px) {
  .produit-banner .image-acceuil {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .produit-banner .image-acceuil {
    display: none;
  }
}

.produit-container,
header,
#categorie,
#produit-alternatives,
#alternatives-column,
#footer-section {
  margin-left: 140px;
  margin-right: 140px;
}
@media (max-width: 992px) {
  .produit-container,
header,
#categorie,
#produit-alternatives,
#alternatives-column,
#footer-section {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 767px) {
  .produit-container,
header,
#categorie,
#produit-alternatives,
#alternatives-column,
#footer-section {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 49px;
  padding-bottom: 60px;
}
@media (max-width: 576px) {
  .navbar {
    padding-bottom: 0px;
  }
}

.site-name {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
}
@media (max-width: 768px) {
  .site-name {
    font-size: 25px;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.search-input {
  display: block;
  width: 412px;
  height: 53px;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (max-width: 768px) {
  .search-input {
    width: 70%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .search-input {
    display: none;
  }
}

.search-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 200px;
  border: none;
  background: #C63882;
  border-radius: 5px;
  color: white;
}
@media (max-width: 768px) {
  .search-btn {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .search-btn {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .search-btn {
    display: none;
  }
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .section-header {
    flex-direction: column;
    height: 400px;
  }
}

.bloc-title-produit {
  padding-top: 98px;
  padding-bottom: 91px;
}
@media (max-width: 316px) {
  .bloc-title-produit {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.bloc-title-produit .crayon {
  display: flex;
  gap: 23px;
}
.bloc-title-produit .crayon .produit-title {
  font-weight: 900;
  font-size: 36px;
  color: #000000;
}
@media (max-width: 992px) {
  .bloc-title-produit .crayon .produit-title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .bloc-title-produit .crayon .produit-title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.bloc-title-produit .produit-texte {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #868686;
}
@media (max-width: 992px) {
  .bloc-title-produit .produit-texte {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .bloc-title-produit .produit-texte {
    font-size: 12px;
  }
}
.bloc-title-produit .carre-rose-produit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 78px;
  background-color: #C63882;
  border-radius: 5px;
  border: none;
}
@media (max-width: 768px) {
  .bloc-title-produit .carre-rose-produit {
    display: none;
  }
}
.bloc-title-produit .carre-rose-produit .icon-crayon-header {
  width: 33px;
  height: 33px;
}
@media (max-width: 768px) {
  .bloc-title-produit .carre-rose-produit .icon-crayon-header {
    display: none;
  }
}

.produit-alternatives {
  background-color: #fff;
  padding-bottom: 105px;
}

.alternatives-produit-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 86px;
}
.alternatives-produit-section .alternatives-produit-column {
  display: flex;
  flex-direction: column;
}
.alternatives-produit-section .alternatives-produit-column .alternatives-produit-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
@media (max-width: 768px) {
  .alternatives-produit-section .alternatives-produit-column .alternatives-produit-title {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .alternatives-produit-section .alternatives-produit-column .alternatives-produit-title {
    font-size: 18px;
  }
}
.alternatives-produit-section .alternatives-produit-column .alternatives-produit-texte {
  padding-top: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #868686;
}
@media (max-width: 320px) {
  .alternatives-produit-section .alternatives-produit-column {
    font-size: 16px;
    padding-top: 0px;
  }
}
.alternatives-produit-section .alternatives-btn {
  justify-self: end;
}
.alternatives-produit-section .alternatives-btn .voir-plus {
  color: #C63882;
  background: #FFE8F4;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 234px;
  height: 54px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .alternatives-produit-section .alternatives-btn .voir-plus {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .alternatives-produit-section .alternatives-btn .voir-plus {
    display: none;
  }
}

.bloc-column-alternatives {
  display: flex;
  gap: 140px;
  line-height: 3;
}
@media (max-width: 768px) {
  .bloc-column-alternatives {
    flex-direction: column;
  }
}
.bloc-column-alternatives .description-alternatives {
  border-left: #000000 1px solid;
  height: 529px;
}
@media (max-width: 768px) {
  .bloc-column-alternatives .description-alternatives {
    flex-direction: column;
    height: 30%;
  }
}
@media (max-width: 320px) {
  .bloc-column-alternatives .description-alternatives {
    flex-direction: column;
    border-left: none;
  }
}
.bloc-column-alternatives .description-alternatives .description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100.8%;
  color: #000000;
  margin: 45px;
}
@media (max-width: 320px) {
  .bloc-column-alternatives .description-alternatives .description {
    flex-direction: column;
    font-size: 20px;
    margin: 0px;
  }
}
.bloc-column-alternatives .description-alternatives .description-texte {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #BDBDBD;
  margin: 45px;
}

.product-interractions-item {
  background: #000000;
  width: 21px;
  height: 21px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: opacity 0.3s ease;
}
.product-interractions-item:hover {
  opacity: 0.8;
}

.products {
  display: flex;
  flex-flow: column;
  gap: 19px;
  width: 100%;
  max-width: 611px;
}

.product a {
  text-decoration: none;
  transition: opacity ease 0.3s;
}
.product a:hover {
  opacity: 0.8;
}
.product-row {
  display: flex;
  gap: 18px;
}
.product-title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}
.product-header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 12px;
}
.product-content {
  display: flex;
  flex-flow: column;
  gap: 13px;
}
.product-rating {
  display: flex;
  gap: 6px;
  align-items: center;
}
.product-rating-count {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
.product-rating-count-like {
  color: #1DBF73;
}
.product-rating-count-unlike {
  color: #c20000;
}
.product-excerpt {
  font-family: "Poppins", sans-serif;
  color: #BDBDBD;
  font-size: 14px;
  line-height: 130%;
}
.product-excerpt p {
  margin: 0;
}
.product-aside {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.product-thumbnail {
  background: #1DBF73;
  aspect-ratio: 1/1;
  width: 48px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.product-interractions {
  display: flex;
  gap: 6px;
  justify-content: center;
}
.product-interractions-item-like {
  background: #1DBF73;
}
.product-interractions-item-like img {
  transform: rotate(180deg);
}
.product-interractions-item-unlike {
  background: #c20000;
}

/* Footer*/
.footer-container {
  width: 100%;
  height: 400px;
  background-color: #F9F9F9;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer-container {
    height: 400px;
  }
}
@media (max-width: 320px) {
  .footer-container {
    width: 80%;
  }
}

.footer-row {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  height: 332px;
  gap: 80px;
  background-color: #F9F9F9;
}
@media (max-width: 768px) {
  .footer-row {
    flex-flow: row;
    height: 100%;
    gap: 0%;
  }
}
@media (max-width: 320px) {
  .footer-row {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 0px;
  }
}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  #footer-left {
    margin-left: 3%;
  }
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 33px;
}
@media (max-width: 320px) {
  .footer-title {
    font-size: 23px;
  }
}

.footer-texte {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
@media (max-width: 320px) {
  .footer-texte {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.voir-plus {
  align-items: flex-start;
  width: 234px;
  height: 55px;
  background-color: #FFE8F4;
  color: #C63882;
  border-radius: 5px;
  border: none;
  font-size: 24px;
}
@media (max-width: 762px) {
  .voir-plus {
    width: 155px;
    height: 43px;
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .voir-plus {
    display: none;
  }
}

.footer-column ul li {
  list-style: none;
}
@media (max-width: 768px) {
  .footer-column ul li {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #868686;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media (max-width: 768px) {
  a {
    font-size: 14px;
  }
}

.apropos {
  color: #000;
}

.footer-black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 68px;
  margin-bottom: 20px;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-black {
    margin-top: 10%;
  }
}
@media (max-width: 320px) {
  .footer-black {
    display: none;
  }
}/*# sourceMappingURL=produit.css.map */