/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/poppins-v20-latin-regular.woff") format("woff"), url("../assets/fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v25-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-regular.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/montserrat-v25-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../assets/fonts/montserrat-v25-latin-700.woff") format("woff"), url("../assets/fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("../assets/fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("..assets/fonts/montserrat-v25-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("..assets/fonts/montserrat-v25-latin-500.eot?#iefix") format("embedded-opentype"), url("..assets/fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("..assets/fonts/montserrat-v25-latin-500.woff") format("woff"), url("..assets/fonts/montserrat-v25-latin-500.ttf") format("truetype"), url("..assets/fonts/montserrat-v25-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("..assets/fonts/poppins-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("..assets/fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("..assets/fonts/poppins-v20-latin-700.woff2") format("woff2"), url("..assets/fonts/poppins-v20-latin-700.woff") format("woff"), url("..assets/fonts/poppins-v20-latin-700.ttf") format("truetype"), url("..assets/fonts/poppins-v20-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}
body {
  font-family: "Montserrat";
}

::placeholder {
  font-family: "Montserrat";
  font-weight: 700;
}

.bg-container {
  width: 100%;
  display: flex;
  background-color: #F9F9F9;
}

/*.banner {
  background-color: $bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  @media (max-width: 1200px) {
     width: 100%;
  }
  @media (max-width: 320px) {
    margin : 0px;
    height: 800px;     
 }

}*/
.header-personnage {
  width: 393px;
  height: 426px;
}
@media (max-width: 1200px) {
  .header-personnage {
    width: 90%;
    background-size: 100%;
  }
}

/*.bg-container,
.header,
#categorie,

#alternatives,*/
#footer-section {
  margin: 0 auto;
}

.icon-crayon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 49px;
  padding-bottom: 60px;
  max-width: 1159px;
  margin: 0 auto;
  background-color: #8FF1FF;
}

.site-name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  width: 297px;
}
@media (max-width: 762px) {
  .site-name {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .site-name {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .site-name {
    font-size: 35px;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  width: 644px;
  height: 53px;
  border-radius: 5px 0px 0px 5px;
}
@media (max-width: 762px) {
  .search-form {
    width: 310px;
    height: 43px;
  }
}
@media (max-width: 576px) {
  .search-form {
    width: 40%;
  }
}
@media (max-width: 320px) {
  .search-form {
    display: none;
  }
}

.search-input {
  display: block;
  width: 412px;
  height: 53px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  margin-left: 20px;
  color: #A0A0A0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px 0px 0px 5px;
}
@media (max-width: 762px) {
  .search-input {
    width: 310px;
    height: 43px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .search-input {
    font-size: 9px;
  }
}

.search-btn {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 235px;
  border: none;
  background: #C63882;
  border-radius: 0 5px 5px 0px;
  color: white;
}
@media (max-width: 762px) {
  .search-btn {
    width: 310px;
    height: 43px;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .search-btn {
    font-size: 9px;
  }
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1159px;
  margin: 0 auto;
  background-color: #1DBF73;
}
@media (max-width: 320px) {
  .section-header {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 15%;
  }
}
.section-header .bg-container-column {
  display: flex;
  flex-direction: column;
}
.section-header .bg-container-column .bg-title {
  font-style: normal;
  width: 604px;
  height: 121px;
  font-weight: 700px;
  font-size: 48px;
  background-color: #8FF1FF;
}
@media (max-width: 762px) {
  .section-header .bg-container-column .bg-title {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .section-header .bg-container-column .bg-title {
    font-size: 28px;
  }
}
.section-header .bg-container-column .photoshop {
  color: #868686;
}
.section-header .bg-container-column .bg-texte {
  width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #868686;
}
@media (max-width: 762px) {
  .section-header .bg-container-column .bg-texte {
    font-size: 15px;
    width: 85%;
    margin-left: 10%;
  }
}
@media (max-width: 576px) {
  .section-header .bg-container-column .bg-texte {
    font-size: 13px;
  }
}
.section-header .bg-container-column .decouvrir {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 234px;
  height: 54.87px;
  border: none;
  background: #C63882;
  border-radius: 5px;
  color: white;
}
@media (max-width: 762px) {
  .section-header .bg-container-column .decouvrir {
    width: 155px;
    height: 43px;
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section-header .bg-container-column .decouvrir {
    font-size: 12px;
  }
}

.nos-categories {
  background-color: white;
  padding-bottom: 105px;
}
@media (max-width: 576px) {
  .nos-categories {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .nos-categories {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    margin-left: 15%;
    width: 100%;
  }
}

#categorie {
  width: 1440px;
  height: 593px;
  margin: 0 auto;
}

.categories-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 86px;
  max-width: 1159px;
  margin: 0 auto;
  background-color: #ced4da;
}
@media (max-width: 320px) {
  .categories-section {
    display: flex;
    flex-direction: column;
  }
}
.categories-section .categories-column {
  display: flex;
  flex-direction: column;
}
.categories-section .categories-column .categories-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100.8%;
  color: #000000;
}
.categories-section .categories-column .categories-texte {
  padding-top: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #868686;
}

.voir-plus {
  color: #C63882;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 200px;
  border: none;
  margin: 4px 2px;
  padding: 12px 42px;
  background: #FFE8F4;
  border-radius: 5px;
}
@media (max-width: 762px) {
  .voir-plus {
    width: 155px;
    height: 43px;
    font-size: 15px;
    text-align: center;
  }
}

.card {
  border: 1px solid #C8C8C8;
  width: 360px;
  height: 77px;
}

.categories-card-row {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 354px;
  gap: 20px;
  padding-top: 61px;
  max-width: 1159px;
  height: 358px;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .categories-card-row {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    margin-left: 0%;
    width: 100%;
  }
}
.categories-card-row .title-categ {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 56px;
}
@media (max-width: 576px) {
  .categories-card-row .title-categ {
    font-size: 15px;
    line-height: 12px;
  }
}
.categories-card-row .carre-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  width: 225.64px;
  height: 109px;
  font-size: 14px;
  margin-top: 20px;
  line-height: 140%;
  color: #868686;
  background-color: #ffbe8f;
}
.categories-card-row .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #8FF1FF;
}
.categories-card-row .card .icon-fleche {
  float: right;
  margin-top: 20%;
}
.categories-card-row .card .carre-vert {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #1DBF73;
  border-radius: 5px;
}
.categories-card-row .card .carre-jaune {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #FFE082;
  border-radius: 5px;
}
.categories-card-row .card .carre-rose {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #C63882;
  border-radius: 5px;
}
.categories-card-row .card .carre-bleu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #8FF1FF;
  border-radius: 5px;
}

.alternatives-demandes {
  display: flex;
  flex-direction: row;
  padding-top: 86px;
  max-width: 1440px;
  height: 744px;
  background-color: rgb(66, 32, 192);
  margin: 0 auto;
}
@media (max-width: 762px) {
  .alternatives-demandes {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.alternatives-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 86px;
  background-color: #868686;
  width: 1159px;
  margin: 0 auto;
}

.alternatives-column {
  display: flex;
  flex-direction: column;
}
.alternatives-column .alternatives-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100.8%;
  color: #000000;
}
.alternatives-column .alternatives-texte {
  padding-top: 41px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #868686;
}

.alternatives-btn {
  justify-self: end;
}
.alternatives-btn .voir-plus {
  color: #C63882;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 200px;
  border: none;
  margin: 4px 2px;
  padding: 12px 42px;
  background: #FFE8F4;
  border-radius: 5px;
}
@media (max-width: 762px) {
  .alternatives-btn .voir-plus {
    width: 155px;
    height: 43px;
    font-size: 15px;
    text-align: center;
  }
}

.nouvelles-alternatives {
  max-width: 1440px;
  padding-bottom: 100px;
}
@media (max-width: 762px) {
  .nouvelles-alternatives {
    padding-bottom: 10%;
  }
}

.alternatives-card-row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .alternatives-card-row {
    padding-bottom: 10%;
    margin-left: 15%;
    width: 100%;
  }
}
.alternatives-card-row .first-colmun-box-1 {
  padding: 10px;
  display: flex;
  gap: 17px;
  width: 360px;
}
.alternatives-card-row .first-colmun-box-1 .icon-vert {
  width: 40px;
  height: 40px;
  background-color: #1DBF73;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.alternatives-card-row .first-colmun-box-1 .title_alternatives {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.alternatives-card-row .first-colmun-box-1 .first-column-subtitle-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: #868686;
}

/* Footer*/
.footer-container {
  width: 100%;
  height: 400px;
  background-color: #F9F9F9;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer-container {
    height: 400px;
  }
}

.footer-row {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  height: 332px;
  gap: 80px;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer-row {
    flex-flow: row;
    height: 100%;
    gap: 0%;
  }
}
@media (max-width: 320px) {
  .footer-row {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 0px;
  }
}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  #footer-left {
    margin-left: 3%;
  }
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 33px;
}

.footer-texte {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #868686;
}
@media (max-width: 320px) {
  .footer-texte {
    margin-bottom: 50px;
  }
}

.voir-plus {
  color: #C63882;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 200px;
  border: none;
  margin: 4px 2px;
  padding: 12px 42px;
  background: #FFE8F4;
  border-radius: 5px;
}
@media (max-width: 762px) {
  .voir-plus {
    width: 155px;
    height: 43px;
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .voir-plus {
    display: none;
  }
}

.footer-column ul li {
  list-style: none;
}
@media (max-width: 768px) {
  .footer-column ul li {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #868686;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 768px) {
  a {
    font-size: 14px;
  }
}

.apropos {
  color: #000;
}

.copyright {
  color: #fff;
}

.footer-black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 68px;
  margin-bottom: 20px;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
@media (max-width: 768px) {
  .footer-black {
    margin-top: 10%;
  }
}
@media (max-width: 320px) {
  .footer-black {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */