@import 'variable';

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('..assets/fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('..assets/fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('..assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('..assets/fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
       url('..assets/fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('..assets/fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('..assets/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('..assets/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('..assets/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('..assets/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('..assets/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('..assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
//style placeholder dans le formulaire de recheche
body{
  font-family: $montserrat;
}
::placeholder {
  font-family: $montserrat;
  font-weight:700;
}

.banner {
  background-color: $bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 

  @media (max-width: 1200px) {
     width: 100%;
  }
  @media (max-width: 320px) {
    margin : 0px;
    height: 800px;     
 }
   
}

.header-personnage {
  width:393px;
  height: 426px;

  @media (max-width: 1200px) {
    width:90%;
    background-size: 100%;
  }
 
}


.bg-container,
.header,
#categorie,
#alternatives_demandes,
#alternatives,
#footer-section {
  margin: 0 auto;
  background-color: aqua;
}

.icon-crayon {
  display: flex;
  justify-content: center;
  align-items: center;
}



//style pour navbar
.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 49px;
  padding-bottom: 60px;  
 
}

.site-name { 
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  width:297px ;
  background-color: #1DBF73;

  @media (max-width: 762px) {
    font-size: 35px;
  }
  @media (max-width: 576px) {
    font-size: 25px;
 }
 @media (max-width: 320px) {
  font-size: 35px;
}

}


.search-form {
  display: flex;
  flex-direction: row;
  width: 644px;
  height:53px;
  border-radius: 5px 0px 0px 5px;

    @media (max-width: 762px) {
    width: 310px;
    height:43px;
    }
    @media (max-width: 576px) {
    width: 40%;
   
    }
    @media (max-width: 320px) {
    display: none;
 
}
 
}


  .search-input {
  display: block;
  width: 412px;
  height: 53px;
  font-size: 18px;
  font-family: $montserrat;
  font-weight:500;
  margin-left: 20px;
  color: #A0A0A0;
  text-align:center;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px 0px 0px 5px;

  @media (max-width: 762px) {
    width: 310px;
    height:43px;
    font-size: 12px;
    }
    @media (max-width: 576px) {
      font-size: 9px;
     
   }

  }
  .search-btn {

  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 235px;
  border: none;
  background: $primary_color;
  border-radius: 0 5px 5px 0px;
  color: white;

  @media (max-width: 762px) {
    width: 310px;
    height:43px;
    font-size: 12px;
    text-align: center;
    }
    @media (max-width: 576px) {
      font-size: 9px;
      
   }
  }

.section-header {
  display: flex;
  flex-direction:row;

  @media (max-width: 320px) {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-left: 15%;
    
  }

  .bg-container-column {
    display: flex;
    flex-direction: column;
   
   
    .bg-title {
    
      font-style: normal;
      font-weight: 700px;
      font-size: 48px;
      line-height: 118.8%;

      @media (max-width: 762px) {
        font-size: 38px;
        }
        @media (max-width: 576px) {
          font-size: 28px;
         
       }
      
    }

    .photoshop {
      color: $texte_color1;
    }

    .bg-texte {
      width: 400px;
    
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: $texte_color1;

      @media (max-width: 762px) {
        font-size: 15px;
        width: 85%;
        margin-left: 10%;
      }

        @media (max-width: 576px) {
                    font-size: 13px   }
                    }
    

    .decouvrir {
      display: flex;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      width: 234px;
      height: 54px;
      text-align:center;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $primary_color;
      border-radius: 5px;
      color: white;

      @media (max-width: 762px) {
        width: 155px;
        height:43px;
        font-size: 15px;
        text-align: center;
        }
        @media (max-width: 576px) {
          font-size: 12px;   }
          }
  }
}

//Categories
.nos-categories {
  background-color: white;
  padding-bottom: 105px;

  @media (max-width: 576px) {
    font-size: 12px;
   }
   @media (max-width: 320px) {
    display: flex;
   flex-direction: column;
   padding-bottom: 10%;  
    margin-left: 15%;
    width: 100%;
  }
  


    }
#categorie{
width: 1440px;
height: 593px;
justify-content: center;
margin-right:140px;
background-color: #134679;

}

.categories-section {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 86px;

  @media (max-width: 320px) {
    display: flex;
   flex-direction: column;}
  
  .categories-column {
    display: flex;
    flex-direction: column;
    height: 50%;
   
    .categories-title {
    
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100.8%;
      color: $color-text1;
      
    }

    .categories-texte {
      padding-top: 41px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $texte_color1;

    }
  }

  .categories-btn {
    justify-self: end;


    .voir-plus {
      color: $primary_color;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $secondary-color;
      border-radius: 5px;

      @media (max-width: 762px) {
        width: 155px;
        height:43px;
        font-size: 15px;
        text-align: center;
        }
    }
  }
}

//section card categories
.card {
  border: 1px solid #C8C8C8;
 
    }
  
.categories-card-row {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 354px;
  gap: 14.8px;
  padding-top: 61px;
  background-color: #efde7f;

  @media (max-width: 320px) {
    display: flex;
   flex-direction: column;
   padding-bottom: 10%;  
    margin-left:0%;
    width: 100%;
  }
  
 
 
  .title-categ {
  
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 31px;
     @media (max-width: 576px) {
      font-size: 15px;
      line-height: 12px; }
   
  }

  .carre-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    
    color: #868686;
    background-color: #ff8282;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 20px;
   

    .icon-fleche {
      float: right;
      font-size: 30px;
    }

    .carre-vert {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #1DBF73;
      border-radius: 5px;  

    }

    .carre-jaune {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #FFE082;
      border-radius: 5px;
      
    }

    .carre-rose {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #C63882;
      border-radius: 5px;
      
    }

    .carre-bleu {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #8FF1FF;
      border-radius: 5px;
      

    }
  }
}



 

// Alternatives
.alternatives-demandes {
  background-color: $bg;
  padding-bottom: 105px;
  @media (max-width: 762px) {
    margin-top: 0px;
    margin-bottom: 0px;
  
    }


}

.alternatives-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 86px;
  
  @media (max-width: 320px) {
    padding-bottom: 10%;  
    margin-left: 15%;
    width: 100%;
    }
  
  .alternatives-column {
    display: flex;
    flex-direction: column;

    .alternatives-title {
    
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 100.8%;
      color: $color-text1;
 
      
    }

    .alternatives-texte {
      padding-top: 41px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $texte_color1;
    }
  }

  .alternatives-btn {
    justify-self: end;

    .voir-plus {
      color: $primary_color;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $secondary-color;
      border-radius: 5px;
      
      @media (max-width: 762px) {
        width: 155px;
        height:43px;
        font-size: 15px;
        text-align: center;
        }
    }
  }
}

// alternatives card row
.nouvelles-alternatives {
  padding-bottom: 100px;
  @media (max-width: 762px) {
    padding-bottom: 10%;      
  
    }
}

.alternatives-card-row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
  padding-top: 50px;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 320px) {
    padding-bottom: 10%;  
    margin-left: 15%;
    width: 100%;
    }
  
  .first-colmun-box-1 {
    padding: 10px;
    display: flex;
    gap:17px;
    width: 360px;

    .icon-vert {
      width: 40px;
      height: 40px;
      background-color: #1DBF73;
      border-radius: 5px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      

    }

    .title_alternatives {
    
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #000000;
    }

    .first-column-subtitle-1 {
    
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      color: #868686;

    }
  }

}

/* Footer*/


.footer-container {
  width: 100%;
  height: 400px;
  background-color: #F9F9F9;
  margin-top: 50px;
  
  @media (max-width: 768px) {
  height: 400px;
    
  }
  

}

.footer-row {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  height: 332px;
  gap: 80px;
  max-width: 1300px;
  margin: 0 auto;



  @media (max-width: 768px) {
    flex-flow: row;
    height: 100%;
    gap: 0%;  
  }
  @media (max-width: 320px) {
    display: flex;
   flex-direction: column;
   margin: 50px;
   align-items: center;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 100px;
   gap: 0px;
   


  }

}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
 
  @media (max-width: 768px) {
    margin-left: 3%;
  }
  
}

.footer-title {
  font-family: $poppins, sans-serif;
  font-weight: 700;
  font-size: 33px; 
  
}

.footer-texte {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #868686;
  @media (max-width: 320px){
    margin-bottom: 50px;
  }

}

.voir-plus {
    color: $primary_color;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      width: 200px;
      border: none;
      margin: 4px 2px;
      padding: 12px 42px;
      background: $secondary-color;
      border-radius: 5px;
  

  @media (max-width: 762px) {
    width: 155px;
    height:43px;
    font-size: 15px;
    text-align: center;
    }
    
    @media (max-width: 320px){
      display: none;
    }
}

.footer-column ul li {
  list-style: none;
  @media (max-width: 768px) {
  width: 100%;
  }
}

a {
  text-decoration: none;
  color: #868686;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 30px;
  @media (max-width: 768px) {
    font-size: 14px;
    }
}

.apropos {
  color: #000;
}

.copyright{
  color:#fff;
}

.footer-black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 68px;
  margin-bottom: 20px;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  @media (max-width: 768px) {
    margin-top: 10%;
    }
    @media (max-width: 320px){
      display: none;
    }
}




